{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="full-center">
    <div class="ui very padded text container segment">
        {{ include('components/_flashes.html.twig') }}
        <h1>Reset your password</h1>

        {{ form(requestForm) }}
    </div>
</div>

{% endblock %}
