{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block subHeader %}{% endblock %}

{% block body %}
<div class="full-center">
    <div class="ui very padded text container segment">
        {{ include('components/_flashes.html.twig') }}
        <h1>Réinitialisez votre mot de passe</h1>
        {{ form(requestForm) }}
        <div class="link-auth">
            <p><a href="{{ path('user_login') }}">Connexion</a></p>
        </div>
    </div>
</div>

{% endblock %}
