{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    {% for category in categories %}
        <div>
            {{ category.name }}
        </div>

    {% endfor %}
{% endblock %}
