body {
    background-color: lightgray;
}

/*------- Generics Class --------*/

.p-none{
    padding: 0!important;
}

.no-radius {
    border-radius: 0!important;
}

/*------- Header --------*/

.secondary .ui.dropdown:hover .menu {
    top: calc(100% - 4px)!important;
}

.ui.secondary.pointing.menu .item{
    -ms-flex-item-align: center;
    align-self: center;
}


/*------- Authenticator --------*/
.full-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-auth {
    margin: 1rem;
}
