:root{
    --primary: #2d3131;
    --secondary: #fff;
    --tier: #1b1c1d;
    --quart: #0d6834;
    --five: #cc7c21;

    --five-hover: #b16c1c;
}

/*------- Reset CSS --------*/
button {
    background-color: var(--five);
    color: var(--secondary);
    border: none;
    border-radius: .3rem;
    padding: .5rem 1rem;
    transition: .3s;
}
button:hover {
    background-color: var(--five-hover);
    cursor: pointer;
}

img {
    width: 100%;
    display: block;
}

a{
    color: var(--five);
}

.color-primary {
    color: var(--primary);
}
.color-secondary {
    color: var(--secondary);
}
.color-tier {
    color: var(--tier);
}
.color-quart {
    color: var(--quart);
}
.color-five {
    color: var(--five);
}

body {
    background-color: var(--primary);
    height: auto;
}

/*------- Generics Class --------*/
.m-none{
    margin: 0!important;
}
.my-1 {
    margin: 1rem 0!important;
}
.my-2 {
    margin: 2rem 0!important;
}
.my-3 {
    margin: 2rem 0!important;
}
.m-1 {
    margin: 1rem!important;
}
.m-2 {
    margin: 2rem!important;
}
.m-3 {
    margin: 3rem!important;
}
.p-none{
    padding: 0!important;
}
.p-1 {
    padding: 1rem!important;
}
.p-2 {
    padding: 2rem!important;
}
.p-3 {
    margin: 2rem!important;
}
.py-1 {
    padding: 1rem 0!important;
}
.py-2 {
    padding: 2rem 0!important;
}
.py-3 {
    padding: 3rem 0!important;
}

.no-radius {
    border-radius: 0!important;
}

.icon {
    margin: 0!important;
}

.w-40{
    width: 40%!important;
}

.w-100{
    width: 100%!important;
}
.h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0;
}

.h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
}

.h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.flex-center {
    display: flex!important;
    align-items: center;
    justify-content: center;
}
.t-justify {
    text-align: justify;
}

/*------- Header --------*/
header {
    position: sticky;
    top: 0;
    z-index: 100;
}
.menu-header {
    background-color: var(--tier);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary);
    position: relative;
    padding: 0 .5rem;
}

.menu-header .item-logo, .menu-header .item-bars{
    padding: .7rem;
}

.menu-header .item-bars {
    font-size: 2.5rem;
}

.menu-header .item-bars .icon:before {
    position: relative;
    top: 8px;
}

.menu-header #headerMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
}

.menu-header .menu {
    margin: 0;
    padding: .7rem 0;
    background-color: var(--tier);
}

.menu-header #headerMenu.active {
    display: block;
}

.menu-header .menu .menu-item {
    display: block;
    padding: .7rem;
}

.menu-header .menu .menu-item a {
    color: inherit;
}

.menu-header .menu .menu-item .item-image {
    display: flex;
    align-items: center;
}

.menu-header .menu .menu-item .item-image img {
    width: 2rem;
    border-radius: 50%;
    padding-right: .5rem;
}

.menu-header .menu .menu-item .sign.out{
    color: #db2828;
}

/*--------- SubHeader --------*/

.subheader {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;

    background-color: var(--tier);
    color: var(--secondary);
}

.subheader .subheader-branch {
    display: none;
}

.subheader .subheader-content {
    width: 100%;
    padding: 2rem;
}

/*--------- Body --------*/

.section-header {
    margin: 5rem 0 2rem ;
    display: flex;
    align-items: center;
    color: var(--five);
}

.section-header .section-icon {
    font-size: 4rem;
}

.section-header .section-icon .icon:before {
    position: relative;
    top: 20px;
}

.section-header .section-title {
    width: 100%;
}

.section-header .section-title .title {
    font-size: 2rem;
    border-bottom: 2px solid var(--secondary);
    padding-bottom: .7rem;
    margin-bottom: .5rem;
}

.section-header .section-title .subtitle {
    color: var(--secondary);
}

.ui.card, .ui.cards>.card {
    height: 100%;
    border-radius: 2rem!important;
    overflow: hidden;
    background-color: var(--tier);

    -webkit-box-shadow: 0 1px 3px 0  var(--tier), 0 0 0 1px var(--primary);
    box-shadow: 0 1px 3px 0 var(--tier), 0 0 0 1px var(--primary);
    transition: .2s;
}

.ui.card:hover, .ui.cards>.card:hover {
    transform: translateY(-10px);
}

.relative {
    position: relative;
}

/*.absolute {*/
/*    position: relative;*/
/*}*/
/*.ui.card .relative .absolute.placement {*/

/*}*/

.card .header-card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 125px;
    /*position: relative;*/
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.card .header-card:after{
    content: "";
    background-color: #000a;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.card .ui.label {
    background-color: var(--five);
    color: var(--secondary);
}
.card .download-card {
    background-color: var(--tier);
    color: var(--secondary);
    border-radius: .7rem;
    overflow: hidden;
    position: relative;
    z-index: 5;
}
.card .download-card .count {
    padding: .5833em .833em;
}
.card .picture {
    width: 30%;
    max-width: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 70px;
    left: 15px;
}
.picture img {
    width: 100%;
    display: block;
}

.card .content .title:before {

    content: "";
}
.card .content .title {
    margin-left: 110px;
    font-weight: 700;
    font-size: 1.28571429em;
    line-height: 1.5;
    color: var(--five);
}

.card .content .subtitle {
    font-size: 1rem;
    font-style: italic;
    margin: 0;
}

.card .content .subtitle a {
    color: var(--quart)!important;
}

.ui.card .content {
    color: var(--secondary);
}
.ui.card>.content>.description {
    padding: 1.5rem 0;
    color: var(--secondary);
}

.card .card-divider {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, white, #aaaaaa) 100% 1;
}
.ui.card>.extra, .ui.cards>.card>.extra {
    border: none!important;
}
.ui.card>.button, .ui.card>.buttons, .ui.cards>.card>.button, .ui.cards>.card>.buttons {
    margin: 0;
    width: 100%;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    background-color: var(--five);
    color: var(--secondary);
}
/*------- Authenticator --------*/
.full-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-auth {
    margin: 1rem;
}

/*------- Resources --------*/
.resource-header {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--secondary);
}

.resource-header .resource-author {
    display: flex;
    flex-wrap: wrap;
}
.resource-header .resource-author img {
    border-radius: 50%;
    width: 5rem;
    margin-right: 1rem;
}

.resource-header .resource-author h1 {
    margin: 0;
}

.resource-header .resource-author a {
    color: var(--five);
}

.resource-header .resource-link {
    font-size: 2rem;
}

.resource-notation {
    margin: 2rem 0 0;
    color: var(--secondary);
}

.resource-notation > .buttons {
    display: flex;
    justify-content: flex-end;
    margin: .5rem;
}

.resource-notation > .buttons a:not(:last-child) {
    margin-right: .5rem;
}

.resource-notation .buttons a{
    color: inherit;
    display: flex;
    align-items: center;
}

.resource-notation .buttons svg {
    width: 2rem;
}

.resource-notation .buttons .like.success {
    color: #21ba45;
}
.resource-notation .buttons .like.success svg {
    fill: #21ba45;
}

.resource-notation .buttons .like.error {
    color: #db2828;
}
.resource-notation .buttons .like.error svg {
    fill: #db2828;
}

.resource-notation .notation-bar {
    display: flex;
    align-items: center;
}

.resource-notation .notation-bar .buttons {
    display: none;
    width: 500px;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem;
}
.resource-notation .notation-bar .buttons svg {
    padding-right: .5rem;
}

.resource-content {
    display: flex;
    flex-wrap: wrap;
}

.resource-content .resource-image {
    width: 100%;
}

.resource-content > .resource-image {
    margin-top: 1rem;
}

.resource-content .resource-misc {
    margin: .5rem 0;
    width: 100%;
}

.resource-content .resource-misc .buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0 .5rem;
}

.resource-content .resource-misc .buttons a {
    margin-top: .5rem;
}

.resource-content .resource-misc .resource-image {
    display: none;
}

.resource-content .resource-description {
    color: var(--secondary);
    margin: .5rem 0;
}

.resource-content .resource-description h2 {
    color: var(--five);
}

.resource-comments {
    padding: 2rem 0;
    color: var(--secondary);
}

.ui.comments {
    max-width: 100%;
}

.ui.comments .comment {
    max-width: 650px;
    margin-top: 2rem;
}

.resource-comments h2 {
    color: var(--five);
}

.resource-comments .comment-form {
    background-color: var(--tier);
    padding: 2rem;
}


.ui.comments.resource-comments .comment .text,
.ui.comments.resource-comments .comment .date {
    color: var(--secondary);
}

.ui.comments.resource-comments .comment a {
    color: var(--five);
}

.ui.comments.resource-comments #commentList {
    padding: 4rem 0 0;
}

/*------- Patch Notes --------*/
.main-pn{
    color: var(--secondary);
}
.title-pn, .btns-pn{
    display: flex;
    align-items: center;
}
.bar-title-pn{
    height: 3px;
    background-color: var(--secondary);
    width: 50%;
}
.title-pn h1{
    padding: 6px;
    text-align: center;
}
.center-pn{
    text-align: center;
    justify-content: center;
}
.slug-pn{
    padding-top: 70px;
    color: var(--five);
    padding-bottom: 20px;
    border-bottom: gray 2px solid;
    font-weight: bold;
    font-size: 114%;
}
.img-pn{
    text-align: center;
}
.img-pn img{
    width: 220px;
    padding: 10px;
}
.btn-pn a, .btn-pn button{
    display: block;
    margin: 10px;
}
/*------- Progress Bar --------*/

.progress {
    height: 5px;
    border-radius: .5rem;
    width: 100%;
    background-color: #888;
}

.progress.error {
    background-color: #db2828;
}

.progress.success {
    background-color: #21ba45;
}

/*--------- Alert box ----------*/
.ui.icon.message>.icon:not(.close){
    margin-right: .6em!important;
}

/*--------- Page Profil ---------*/

.name-user {
    color: var(--secondary);
}


/*--------- Page CGU ---------*/
.cgu-main{
    padding: 60px;
    color: var(--secondary);
}
.cgu-main h1, .cgu-main h3{
    color: var(--five);
    margin-top: 30px;
}
.cgu-main h1{
    border-bottom: var(--five) 2px solid;
    margin-bottom: 10px;
}

/*------- Authenticator --------*/
@media (min-width: 1400px) {
    .ui.container {
        width: 1344px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (min-width: 768px) {
    .menu-header #headerMenu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: unset;
    }

    .menu-header .menu,
    .menu-header #headerMenu.active{
        display: flex;
    }

    .menu-header .item-bars{
        display: none;
    }

    .subheader .subheader-branch {
        display: block;
        width: 33.33333%;
    }

    /*---- Resources -----*/
    .resource-notation > .buttons {
        display: none;
    }

    .resource-notation .notation-bar .buttons {
        display: flex;
    }

    .resource-content {
        flex-direction: row-reverse;
    }

    .resource-content > .resource-image {
        display: none;
    }

    .resource-content .resource-description {
        width: 66.666667%;
        padding-left: .5rem;
    }

    .resource-content .resource-misc {
        width: 33.333333%;
        padding-right: .5rem;
    }

    .resource-content .resource-misc .resource-image {
        display: block;
    }

    /*---- Patch Note -----*/
    .phone-pn{
        display: none;
    }

}
@media (max-width: 768px){

    /*---- Patch Note -----*/

    .img-pn{
        display: none;
    }
}

@media (max-width: 993px) {
    .name-user h1 {
        text-align: center;
    }
}
