{% extends 'admin.html.twig' %}

{% block title %}Les Ressources{% endblock %}

{% block body %}
    <div class="ui grid stackable padded">
        <div class="column">
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Ressource</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for resource in resources %}
                    <tr>
                        <td>{{ resource.user.name }}</td>
                        <td>{{ resource.name }}</td>
                        <td>
                            <a href="{{ path('admin_resource_show', { id: resource.id }) }}">
                                <i class="eye icon"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(resources) }}
            </div>
        </div>
    </div>
{% endblock %}
