<div class="subheader">
    <div class="subheader-branch">
        {{ include('components/svg/_branch-left.html.twig') }}
    </div>
    <div class="subheader-content">
        <p class="h1">DevGarden</p>
        <p>Le slogan de malheur du DevGarden</p>
        <form action="#" method="POST" class="ui form my-2">
            <div class="ui search field">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Rechercher une ressource...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </form>
    </div>
    <div class="subheader-branch">
        {{ include('components/svg/_branch-right.html.twig') }}
    </div>
</div>
